<div class="preloader"><span></span></div>
<header class="site-header">
    <div class="row header-wrap">
        <div class="col-sm-5 header-box">
            <div class="col-sm-2 header-box logo-box text-center">
                <a href=""><img src="img/logo.png" width="200" alt=""></a>
            </div>
            <!-- .header-box -->

            <main>
                <!--Main layout-->
                <div class="container">
                    <!--Page heading-->
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="h1-responsive">{{{user.firstName}}} PROFILE
                      <br>
                        <small class="text-muted">Create your Checklists!</small>
                    </h1>
                        </div>
                    </div>
                    <!--/.Page heading-->
                    <a href="/lists" class="btn btn-default" data-hover="Sign Up Now" data-animation="fadeInDown" data-animation-delay="600" data-out-animation="fadeOutUp" data-out-animation-delay="600" data-toggle="modal" data-target=""><span class="button-label">createLists</span></a>



                    {{#each userLists}}
                        <div class="">
                            <h3>{{this.title}}</h3>
                            <hr>
                            <p>
                                {{this.description}}
                            </p>
                            <p>
                                {{this.priorityLevel}}
                            </p>
                            {{#each this.listTasks}}
                                <hr>
                                <div class="">
                                    <p>
                                        {{this.title}}
                                    </p>
                                    <hr>
                                    <p>
                                        {{this.task}}
                                    </p>
                                </div>
                                <hr>
                            {{/each}}
                        </div>

                    {{/each}}
                </div>

                <!--Render Card from Database-->

                <header>
