<header class="site-header">
    <div class="row header-wrap">
        <div class="col-sm-5 header-box">
            <div class="col-sm-2 header-box logo-box text-center">
                <a href=""><img src="img/logo.png" width="200" alt=""></a>
            </div>
            <!-- .header-box -->

            <main>
                <!--Main layout-->
                <div class="container">

                    <!--Page heading-->
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="h1-responsive">{{USER}} PROFILE
                      <br>
                        <small class="text-muted">Create your Checklists!</small>
                    </h1>
                            <div class="read-more">
                                <a href="/lists" class="btn btn-primary">Create List</a>
                            </div>
                        </div>
                    </div>
                    <!--/.Page heading-->
                    <hr>

                    {{#each userLists}}

                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h4 class="card-title">{{this.title}}</h4>
                                            <p class="card-text">{{this.description}}</p>
                                        </div>
                                        <div class="col-md-4">
                                            <h4 class="priority_title">Priority: {{this.priorityLevel}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th></th>
                                    <th>Task</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each this.listTasks}}
                                    <tr>
                                        <th scope="row"></th>
                                        <td>
                                            <fieldset class="form-group">
                                                <input type="checkbox" id="checkbox1">
                                                <label for="checkbox1"></label>
                                            </fieldset>
                                        </td>
                                        <td>{{this.title}}</td>
                                        <td>{{this.task}}</td>


                                        <td>
                                            <a class="blue-text"><i class="fa fa-user"></i></a>
                                            <a class="teal-text"><i class="fa fa-pencil"></i></a>
                                            <a class="red-text"><i class="fa fa-times"></i></a>
                                        </td>
                                    </tr>
                                {{/each}}


                            </tbody>
                        </table>
                        <script>
                            $('#myModal').on('shown.bs.modal', function() {
                                $('#myInput').focus()
                            })
                        </script>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                            Add Task
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <!--Content-->
                                <div class="modal-content">
                                    <!--Header-->
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">Add Task</h4>
                                    </div>
                                    <!--Body-->
                                    <div class="modal-body">
                                        <form action="/tasks/{{this.id}}" method="post">
                                            <div class="form-group">
                                                <label for="">Title</label>
                                                <input type="text" class="form-control" name="title" value="">
                                            </div>
                                            <div class="form-group">
                                                <label for="">Description</label>
                                                <input type="test" class="form-control" name="task" value="">
                                            </div>
                                            <button type="submit" class="btn btn-secondary btn-lg">Submit</button>
                                        </form>
                                    </div>

                                </div>
                                <!--/.Content-->
                            </div>
                        </div>
                        <!-- /.Live preview-->
                        <br>
                        <div class="read-more">
                            <a href="/lists/d/{{this.id}}" class="btn btn-primary">Delete List</a>
                        </div>

                        <hr>
                    {{/each}}




                </div>
                <!--/.Card content
